body{
    background-color: black;
}

#Jonas{
    background-image:url(./Encapis/imagens/backgorund.png);
    background-repeat: no-repeat;
    font-size: 1.3rem;
    margin-top: 15%;
    margin-right: 23%;
    margin-bottom: 23%;
    margin-left: 30%;
    padding: 2%;
}
.cardum{
 list-style-image: url(./Encapis/imagens/Insta.png);
}
.cardois{
    list-style-image: url(./Encapis/imagens/Twitter.png);
}
.cardreis{
    list-style-image: url(./Encapis/imagens/Youtube.png);
}

